body {
    font-family: 'Barlow';
    font-style: normal;
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
body[data-cor="um"] {
    --color-bg: #292929;

}
  
body[data-cor="dois"] {
    --color-bg: #F2F2F2;
}

body[data-cor="tres"] {
    --color-bg: #C7C7C7;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 940px;
    height: 437px;
    background: #E5E5E5;
    border: 3px solid #51E678;
    border-radius: 8px;
}
  
.trocar {
    width: 412px;
    height: 64px;
    background: #51E678;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;

    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    color: #292929;
}

.title{
    position: relative;
    margin-top: 32px;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: rgba(41, 41, 41, 0.8);
}